// 변수 선언 //

/***************************
    [ color 변수 ]
***************************/
$color-text: #2C2E33;
$color-primary: #00C471;
$color-secondary: #FE5B16;
$color-white: #FFFFFF;
$color-lightegray: #D4D4D4;
$color-midgray: #6E7479;
$color-board: #ddd;

/***************************
    [ background 변수 ]
***************************/
$bg-footer: #2F3740;