// 아웃프런 footer_area.scss //

@import "./variables";

footer.footer-area {
  display: flex;
  justify-content: space-between;
  background-color: $bg-footer;
  padding: 3.2rem;
  gap: 16rem;

  @include tablet-medium {
    gap: 8rem;
  }

  @include tablet-small {
    padding: 3.2rem 1.6rem;
    flex-direction: column;
    gap: 2.8rem;
  }
  @include mobile {
    display: block;
  }

  .footer-info {
    color: $color-lightegray;

    .corp-area {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      
      @include mobile {
        justify-content: center;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      li {
        font-weight: 600;
        transition: 0.2s;
      }
      li:hover {
        color: $color-primary
      }
      li:nth-child(1) ::before {
        content: "";
        border-left: 1px solid $color-lightegray;
        padding: 0 0.6rem;

        @include mobile {
          border-left: none;
        }
      }
      li:nth-child(2) ::before {
        content: "";
        border-left: 1px solid $color-lightegray;
        padding: 0 0.6rem;
      }
      li:nth-child(3) ::before {
        content: "";
        border-left: 1px solid $color-lightegray;
        padding: 0 0.6rem;
      }
    
      .brand_logo {
        a {
          display: block;

          img {
            width: 8rem;
          }
        }
        @include mobile {
          display: none;
        }      
      }
    }

    .company-info {
      padding: 1.6rem 0;
      
      @include mobile {
        text-align: center;
        padding: 2.4rem 0;
      }

      span {
        line-height: 1.5;
        padding-left: 0.2rem;
      }
    }
    .copyright {
      @include mobile {
        text-align: center;
      }
    }
  }
  .footer-sns {
    display: flex;
    gap: 1.6rem;
    align-items: flex-end;

    @include tablet-small {
      gap: .8rem;
    }
    @include mobile {
      display: none;
    }

    .sns-icon {
      font-size: 2rem;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      background-color: $color-lightegray;

      i {
        line-height: 3.2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

