/* src/scss/main.scss */

@import "./common.scss";

.main-wrap {
  .list-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 1.4rem;
    line-height: 1.2;
    li {
      width: 20%;
      color: $color-text;
      h3 {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 12px 0;
      }
      p {
        padding-bottom: 8px;
      }
      picture {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        img {
          border: 1px solid $color-board;
          border-radius: 1rem;
          box-sizing: border-box;
          overflow: hidden;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
