/* src/scss/main.scss */

@import "./variables";

.main-wrap {
  max-width: 1440px;
  margin: 0 auto;
  .list-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 1.4rem;
    line-height: 1.2;
    li {
      position: relative;
      width: 20%;
      color: $color-text;
      h3 {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 12px 0;
      }
      p {
        margin-bottom: 8px;
      }
      .hover-txt {
        .ginfo {
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
      .cart-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        i {
          font-size: 20px;
        }
      }
      picture {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        img {
          border: 1px solid $color-board;
          border-radius: 1rem;
          box-sizing: border-box;
          overflow: hidden;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
