/* src/scss/main.scss */

@import "./variables";

.main-wrap {
  max-width: 1440px;
  margin: 100px auto;
  .edu-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    li {
      border: 1px solid $color-board;
      border-right: 0;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: transparent;
        padding: 12px 24px;
        cursor: pointer;
        img {
          height: 20px;
          margin-right: 8px;
        }
      }
      &:last-child {
        border-right: 1px solid $color-board;
      }
    }
  }
  .list-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    font-size: 1.4rem;
    line-height: 1.2;
    li {
      position: relative;
      width: calc(20% - 24px);
      color: $color-text;
      h3 {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 12px 0;
      }
      p {
        margin-bottom: 8px;
      }
      .hover-txt {
        .ginfo {
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
      .cart-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        i {
          font-size: 20px;
        }
      }
      picture {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        img {
          border: 1px solid $color-board;
          border-radius: 1rem;
          box-sizing: border-box;
          overflow: hidden;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
