// 아웃프런 top_area.scss //

@import "./variables";

header.top-area {
  position: relative;
  padding: 0 3.2rem;

  @include tablet-medium {
    padding: 0 1.6rem;
  }

  @include mobile {
    padding: 0 0.8rem;
  }

  .top-wrap {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 7rem;
  }

  .navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;

    .brand_logo {
      a {
        display: block;
        img {
          width: 10rem;
        }
        @include tablet-medium {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    @include tablet-medium {
      flex-direction: row-reverse;
      flex: 1;
    }

    .top-menu-btn {
      display: none;
      font-size: 2rem;
      color: $color-text;
      opacity: 0.9;
      transition: 0.3s;

      @include tablet-medium {
        display: block;
      }
      @include mobile {
        font-size: 2.2rem;
      }
    }
  }
}

nav.gnb {
  @include tablet-medium {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;

    li {
      position: relative;
      color: $color-text;

      a {
        font-size: 1.6rem;
        font-weight: 600;
        transition: 0.2s;
        line-height: 4;
      }
      &:hover {
        color: $color-primary;
        .smenu {
          display: block;
        }
      }
    }

    .smenu {
      display: none;
      position: absolute;
      top: 6rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      padding: 1.6rem 2.4rem;
      border-radius: 1rem;
      border: 1px solid $color-lightegray;
      // filter: drop-shadow(0.4rem 0.4rem 1rem rgba(176, 176, 176, 0.503));
      white-space: nowrap;
      line-height: 2.2;
      z-index: 2;
      color: #6e7479;

      ol {
        li {
          color: $color-midgray;

          a {
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 2.2;
          }
          &:hover {
            font-weight: 600;
            color: $color-text;
          }
        }
      }
    }
  }
  @include tablet-medium {
    &.on {
      left: 0;
    }
    // display: none;
    position: fixed;
    top: 50px;
    left: -100%;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 9;
    transition: left 0.3s ease-in-out;

    ul {
      flex-direction: column;
      gap: 1vh;

      li {
        width: 100%;
        padding-left: 10px;
        a {
          line-height: 2;
        }
      }

      .smenu {
        left: 50%;
        top: 0;
        transform: none;
      }
    }
  }
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  flex: 0 0 60%;

  @include tablet-medium {
    flex: 0;
  }

  .search-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color-lightegray;
    border-radius: 1rem;
    width: 100%;

    @include tablet-medium {
      display: none;
    }

    input {
      padding: 1.2rem 1.4rem;
      height: 3.6rem;
      border: none;
      width: 100%;
      background: rgb(246, 246, 246);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -5px;
      border-radius: 1rem;

      &:focus {
        border-color: rgb(0, 196, 113);
        box-shadow: rgba(29, 192, 120, 0.25) 0px 0px 0px 0.125em;
        outline: rgb(0, 196, 113) auto 0.04rem;
      }
    }
    .search-icon {
      position: absolute;
      right: 1rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .right-icon {
    display: flex;
    gap: 1.6rem;

    @include mobile {
      gap: 1.2rem;
    }
    li {
      .top-btn {
        font-size: 1.6rem;
        color: $color-text;
        opacity: 0.9;
        transition: 0.3s;

        @include mobile {
          font-size: 1.8rem;
        }
      }
      &:hover .top-btn {
        opacity: 1;
      }
    }
  }
}
