@import "../variables";

.basket-container {
  max-width: 1400px;
  margin-inline: auto;
  padding: 3.2rem;

  .basket-title {
    font-size: 20px;
    font-weight: 500;
  }
}

.basket-wrap {
  display: flex;
  justify-content: space-between;
  height: 400px;
  background-color: bisque;
  gap: 5%;

  .basket-list {
    width: 70%;

    .basket-select {
      display: flex;
      justify-content: space-between;
      padding-block: 1.5rem;
      border-bottom: .1rem solid $color-lightegray;

      .select-box {
        display: flex;
        align-items: center;
        gap: 1rem;

        .select-title {
          display: flex;
          gap: 0.5rem;
          font-size: 1.2rem;
          color: $color-text;

          .select-num {
            span {
              color: $color-primary;
            }
          }
        }
      }

      .delete-box {
        .delete-txt {
          border: 1px solid $color-lightegray;
          color: $color-text;
          height: 3rem;
          width: max-content;
          padding-inline: 1.6rem;
          border-radius: 0.8rem;
          font-size: 1.2rem;
          font-weight: 500;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .edu-list-container {
      margin-block: 1.6rem;

      .edu-list-wrap {
        display: flex;
        justify-content: space-between;

        .edu-list-left {
          display: flex;
          align-items: flex-start;
          gap: 1rem;

          img {
            width: 12rem;
            border-radius: .8rem;
            border: 1px solid $color-lightegray;
          }

          .text-box {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .gname {
              font-size: 1.4rem;
              font-weight: 500;
            }
            .cat-box {
              display: flex;
              gap: 1rem;
            }
          }
        }
      }
    }
  }

  .pay-list {
    width: 25%;
  }
}
