@import "../variables";

.basket-container {
  max-width: 1400px;
  margin-inline: auto;
  padding: 3.2rem;

  .basket-title {
    font-size: 20px;
    font-weight: 500;
  }
}

.basket-wrap {
  display: flex;
  justify-content: space-between;
  gap: 5%;

  .basket-list {
    width: 70%;

    .basket-select {
      display: flex;
      justify-content: space-between;
      padding-block: 1.5rem;
      border-bottom: 0.1rem solid $color-lightegray;

      .select-box {
        display: flex;
        align-items: center;
        gap: 1rem;

        .select-title {
          display: flex;
          gap: 0.5rem;
          font-size: 1.2rem;
          color: $color-text;

          .select-num {
            span {
              color: $color-primary;
            }
          }
        }
      }

      
    }

    .edu-list-container {
      padding-block: 1.6rem;
      border-bottom: 1px solid $color-lightegray;

      .edu-list-wrap {
        display: flex;
        justify-content: space-between;

        .edu-list-left {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
          width: 80%;
          border-right: 1px solid $color-lightegray;

          img {
            width: 12rem;
            border-radius: 0.8rem;
            border: 1px solid $color-lightegray;
          }

          .text-box {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .gname {
              font-size: 1.4rem;
              font-weight: 500;
            }
            .cat-box {
              display: flex;
              gap: 1rem;
            }
          }
        }
        .edu-list-right {
          h4 {
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
      }
    }
  }

  .pay-list {
    width: 25%;
    border: 1px solid $color-lightegray;
    border-radius: .8rem;
    padding: 1.6rem;

    .pay-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-lightegray;
      padding-bottom: 1.5rem;

      h5 {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    .user-desc {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      .user {
        display: flex;
        font-size: 1.2rem;
        
        .user-title {
          color: $color-midgray;
          width: 30%;
        }
        .user-desc {
          color: $color-text;
        }
      }
    }
  }
}

.border-box {
  .border-txt {
    border: 1px solid $color-lightegray;
    color: $color-text;
    height: 3rem;
    width: max-content;
    padding-inline: 1.6rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
